*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#d75a01, #f9944c 40%, #f6934c 40%, #d75a01);
}
header, footer{
    place-content: center start;
    display: grid;
    color: #FFFF;
    font-weight: 100;
    margin: 10px;
    font-size: 20px;
    gap: 100px;
    grid-template-columns: 10px 90px 90px;
}
main {
    display: grid;
    place-content: center center;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "t1 t2 t3" 
    ;
}
footer div{
    grid-area: t1;
}
footer span{
    grid-area: t2;
    place-self: center center;
    color: black;
}
footer img{
    grid-area: t3;
    place-self: center end;
}
.background-logo{
    position: absolute;
    height: 80vh;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content-text{
    place-self: center center;
    color: rgb(223, 104, 0);
    font-size: 3rem;
    font-weight: 100;

    text-shadow: 3px 3px 3px rgb(255, 179, 0);
    width: 340px;
    transform: translate(-150%, 600%);
}
.content-image{
    height: 80dvh;
}
@media (max-width: 768px){
    header{
        margin: 100px;
    }
    header img{ 
        display: none;
    }
    .content-text{
        transform: translateX(0%);
        top: 120px;
        transform: translateX(-50%);
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px 0 black;
        width: 200px;
        text-align: center;
    }
    .background-logo{

        position: absolute;
        height: 50vh;
        margin: auto;

    }
    .content-image{
        display: grid;
        height: 50vh;
        width: auto;
        transform: translateX(-10%);

    
}
    }
    footer{
        display: grid;
        place-content: center start;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "t1 t2 t3" 
        ;
    }
}